﻿@* Set view model type *@
@model List<DataAccess.Data.Entities.Product>;
@{
    int count = 0;
}

<h1>Product List</h1>
<p>You can manage all the available products here...</p>
<div>
    <a asp-action="Create" class="btn btn-success">Create Product</a>
</div>

<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">City</th>
            <th scope="col">Status</th>
            <th scope="col">Is Used</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            count++;
            <tr class="align-middle">
                <th scope="row">@count</th>
                <td><img src="@i.ImageUrl" style="width: 100px"></td>
                <td>@i.Name</td>
                <td>@i.Price$</td>
                <td>@i.City</td>
                <td>
                    @if (i.InStock)
                    {
                        <span class="badge bg-success">In Stock</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Out of Stock</span>
                    }
                </td>
                    <td>
                    @if (i.IsUsed)
                    {
                            <span class="badge bg-success">New</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">Were Used</span>
                    }
                    </td>
                <td>@i.CategoryId</td>
                <td>
                    <a asp-action="Show" asp-route-id="@i.Id" asp-area="" class="btn btn-secondary"><img src="./images/eye.png" style="width: 30px" /></a>
                    <a asp-action="Edit" asp-route-id="@i.Id" asp-area="" class="btn btn-warning"><img src="./images/pen.png" style="width: 30px" /></a>
                    <a asp-action="Delete" asp-route-id="@i.Id" asp-area="" class="btn btn-danger" style="background-color: #ff3f5b"><img src="./images/trash-bin.png" style="width: 30px" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="text-center">Count: @Model.Count</p>